.container{
    display: flex;
}

.course-container{
    width: 70%;
    margin-right: 20px;
    margin-left: 5px;
}

.cart-container{
    box-shadow: 5px 5px 50px gray;
    margin: 80px 0;
    width: 400px;
    height: 300px;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}